.u-section-1 .u-sheet-1 {
  min-height: 665px;
}

.u-section-1 .u-form-1 {
  height: 413px;
  margin: 22px 325px 0 245px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 12px auto 60px 93px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 225px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 115px;
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}